.ant-btn {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: #f8b62e;
    width: 200px;height: 60px;
    font-size: 20px
  }
  .ant-btn:hover, .ant-btn:focus{  color: #f8b62e;border-color:#f8b62e}