body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-btn {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  color: #f8b62e;
  width: 200px;height: 60px;
  font-size: 20px
}
.ant-btn:hover, .ant-btn:focus{  color: #f8b62e;border-color:#f8b62e}
#root { height: 100vh;}